<mat-card>
	<mat-spinner *ngIf="loading"></mat-spinner>
	<mat-list>
		<mat-list-item *ngFor="let event of events">
			<h3 matLine>{{ event.title }}</h3>
			<p matLine *ngIf="event.startsAt">{{ moment(event.startsAt * 1000).format('MMMM DD') }}</p>
			<button mat-icon-button [routerLink]="['/events/', event.permalink]">
				<mat-icon>keyboard_arrow_right</mat-icon>
			</button>
		</mat-list-item>
	</mat-list>
</mat-card>
<button mat-fab [routerLink]="['/events/new']">
	<mat-icon>create</mat-icon>
</button>
