/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.mat-icon {
	cursor: pointer;
}

.mat-input-container {
  width: 100%;
  display: block;
}

.mat-card {
  width: 90%;
  display: block;
  margin: 3em auto;
	max-width: 516px;
}

.mat-fab {
	position: fixed !important;
	bottom: 0 !important;
	right: 0 !important;
	margin: 16px !important;
}

.active {
	color: #ff5722 !important;
}

@media screen and (min-width: 720px) {
	.mat-card {
		width: 60%;
	}
}
